<div class="sidebar col-lg-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Visualizations</h5>
      <hr/>
      <img class="visualization-img" src="{{ url_for('static', filename='images/fig1.png') }}"/>
      <img class="visualization-img" src="{{ url_for('static', filename='images/fig2.png') }}"/>
      <img class="visualization-img" src="{{ url_for('static', filename='images/fig3.png') }}"/>
      <img class="visualization-img" src="{{ url_for('static', filename='images/fig4.png') }}"/>
    </div>
  </div>
</div>