{% extends "base-template.html" %}
{% block title %}Landing Page{% endblock %}
{% block content %}
  <div class="container">

    <div class="row">
      <div class="main-body col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Comparison: Latitude vs. X</h5>
            <hr/>
            <div class="card-text">
              <p>Click on any plot to get an in-depth analysis.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h6 class="title">Vs. Max Temperature</h6>
              <img class="comparison-img" src="{{ url_for('static', filename='images/fig1.png') }}"/>
            </div>
            <div class="col-md-6">
                <h6 class="title">Vs. Humidity</h6>
                <img class="comparison-img" src="{{ url_for('static', filename='images/fig2.png') }}"/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
                <h6 class="title">Vs. Cloudiness</h6>
              <img class="comparison-img" src="{{ url_for('static', filename='images/fig3.png') }}"/>
            </div>
            <div class="col-md-6">
                <h6 class="title">Vs. Wind Speed</h6>
                <img class="comparison-img" src="{{ url_for('static', filename='images/fig4.png') }}"/>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}