{% extends "base-template.html" %}
{% block title %}Landing Page{% endblock %}
{% block content %}
<div class="container">
  
  <div class="row">
    <div class="main-body col-lg-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Summary: Latitude vs. X</h5>
          <hr/>
          <img class="visualization-img" src="{{ url_for('static', filename='images/fig1.png') }}"/>
          <div class="card-text">
            <p>The purpose of this project was to analyze how weather changes as you get closer to the equator. To accomplish this analysis, we first pulled data from the OpenWeatherMapAPI to assemble a dataset on over 500 cities.</p>
            <p>
              After assembling the dataset, we used matplotlib to plot various aspects of the weather vs. latitude. Factors we looked at included: temperature, cloudiness, windspeed, and humidity. 
              This site provides the source data and visualizations created as part of the analysis, as well as explanations and descriptions of any trends and correlations witnessed.</p>
            </div>
          </div>
        </div>
    </div>

    {% include "partials/visualization-sidebar.html" %}

  </div>
</div>
{% endblock %}